:root {
    /* jcswanson.com colors */
    --brown: #705213;
    --light-tan: #ffecc7;
    --peach: #f8954a;
    --light-brown: #c98448;
    --dark-bronze: #524f48;
    --skill-color: #41ff83;
    --skill-bg: #f41a1a;
    --charcoal: #2e2d2a;
    --khaki-tan: #cab27e;
    --nav-dark: #6c6c6c;
    --nav-light: #fff599;
    --error-message: #ff2525d1;
    --toast-error: #e44f4ffa;
    --toast-shadow: #9c9c9cdb;
    --toast-success: #540cbf;
    --loader-color: #7b00fe;
}