@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

/* font-family: 'Roboto Flex', sans-serif; */

@font-face {
    font-family: "Montserrat Reg";
    font-style: normal;
    font-weight: 300;
    src: url('./assets/Fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    src: url('./assets/Fonts/Montserrat-Black.ttf');
}

@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: normal;
    src: url('./assets/Fonts/RobotoMono-Regular.ttf');
}

@font-face {
    font-family: "Roboto Mono Bold";
    font-style: normal;
    font-weight: bold;
    src: url('./assets/Fonts/RobotoMono-SemiBold.ttf');
}

@font-face {
    font-family: "Roboto Mono Thin";
    font-style: normal;
    font-weight: lighter;
    src: url('./assets/Fonts/RobotoMono-Thin.ttf');
}


/* 
font-family: 'Montserrat-size', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'RobotoMono', monospace;
*/

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

* {
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-y: overlay;
    font-family: 'Roboto Flex', monospace;
    font-weight: 700;
    font-size: 0.82rem;
    background-color: var(--blue-white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}

body ::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, 0.16);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
    background: hsla(0, 0%, 100%, 0.1);
}

.btn {
    border-radius: 25px;
    padding: 15px 0;
    width: 150px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:active {
    transform: translateY(2px);
}

.primary-btn {
    color: var(--blue-white);
    border-radius: 25px;
    padding: 15px 0;
    background-color: var(--drk-space);
    border: 2px solid var(--sky-blue);
    font-weight: 1000;
    font-size: 0.9rem;
    font-style: 'Roboto Flex', sans-serif;
}

.primary-btn:hover {
    color: var(--drk-space);
    background-color: var(--sky-blue);
    border: 2px solid var(--sky-blue);
}

.highlighted-btn {
    color: var(--drk-space);
    font-family: 'Roboto Flex', monospace;
    font-weight: 1000;
    font-size: 0.9rem;
    border: 2px solid var(--blue-white);
    border-radius: 25px;
    background-color: var(--blue-white);
}

@media only screen and (max-width: 568px) {
    .highlighted-btn {
        z-index: -900;
    }
}

.red-border {
    border: 2px solid var(--crimson) !important;
}

.fade-in {
    opacity: 0;
    transform: translateY(80px);
    transition: all 0.8s ease;
}