.resume-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: fit-content;
    margin: 120px 0;
}

.resume-card {
    display: flex;
    height: 360px;
    width: 1100px;
    /* margin: 80px 0; */
}

.resume-bullets {
    box-shadow: 5px 8px 20px 2px var(--gray);
    height: 100%;
    border-radius: 25px;
    color: var(--blue-white);
    background-color: var(--drk-space);
    width: 320px;
}

.resume-bullet-details {
    flex-grow: 1;
    width: 600px;
    overflow: hidden;
    padding: 0 0 0 80px;
}

.experience-description {
    margin: 10px 0 0 0;
    text-align: justify;
}

.resume-description-text {
    font-size: 0.82rem;
}

.resume-details-carousal {
    transition: transform 0.8s ease-out;
}

.bullet-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: var(--drk-space);
    border-radius: 25px;
}

.bullets {
    width: 85%;
    position: relative;
    z-index: 2;
    background-color: var(--drk-space-black);
}

.bullet {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--gray);
    height: 45px;
    margin: 1rem 0;
    padding: 0.6rem;
    border-radius: 25px;
    width: 33px;
    transition: width 0.7s ease-in-out;
}

.bullet-label {
    font-size: 1.0rem;
    white-space: nowrap;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
}

.bullet-logo {
    height: 16px;
    margin: 0 1.5rem 0.5rem 0.15rem;
}

.bullet-icons {
    width: 38px;
    height: 100%;
    z-index: 1;
    border-radius: 25px 0 0px 25px;
    background-color: var(--gray);
    position: absolute;
}

.selected-bullet {
    color: var(--orange);
    width: 100%;
}

.selected-bullet .bullet-logo {
    color: var(--orange);
}

.resume-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 360px;
    width: 100%;
}

.resume-heading {
    display: flex;
    flex-direction: column;
}

.resume-main-heading {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.resume-main-heading span {
    color: var(--drk-space);
    font-size: 1rem;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
}

.experience-description {
    max-width: 100%;
}

.heading-bullet {
    position: absolute;
    left: -30px;
    height: 13px;
    width: 13px;
    top: 6px;
    border-radius: 25px;
    background-color: var(--gray);
}

.resume-sub-heading {
    font-size: 0.85rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: var(--gray);
    margin: 0.4rem 0 0.35rem 0;
}

.resume-heading-description {
    font-size: 0.8rem;
    font-weight: 700;
    text-align: justify;
    color: var(--drk-space);
    font-family: "Roboto", sans-serif;
}

.heading-date {
    background-color: var(--drk-space);
    padding: 4px 12px;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 25px;
    color: var(--blue-white);
}

.skill-parent {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
}

.programming-skills-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill-percentage {
    position: relative;
    height: 2px;
    top: 20px;
    border-radius: 25px;
    width: 70%;
    background-color: var(--drk-space);
}

.skill-percentage .active-percentage-bar .percentage-bar-text {
    color: var(--blue-white);
    font-size: 0.7rem;
    padding-right: 10px;
}

.skill-percentage .active-percentage-bar {
    height: 20px;
    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.8s ease;
    position: absolute;
    border-radius: 0px 25px 25px 0;
    background-color: var(--sky-blue);
    box-shadow: 4px 4px 10px 0 var(--drk-space);
}

.skill-parent span {
    font-family: "Roboto", sans-serif;
    font-size: 0.97rem;
    font-weight: 700;
    color: var(--drk-space);
}


/* IPAD PRO RESPONSIVENESS */

@media only screen and (max-width: 1110px) {
    .resume-card {
        width: 95%;
    }
    .resume-bullet-details {
        padding: 0 0 0 70px;
    }
    .programming-skills-container {
        margin-left: 3rem;
    }
}


/* IPAD RESPONSIVENESS */

@media only screen and (max-width: 1023px) {
    .resume-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bullets {
        width: 90%;
    }
    .resume-card {
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin: 30px 0;
        align-items: center;
        width: 90%;
    }
    .resume-bullet-details {
        height: 360px;
        padding: 0;
        width: fit-content;
    }
    .resume-bullets {
        margin: 30px 0px;
        width: 100%;
    }
    .selected-bullet {
        width: 95%;
    }
}